<!DOCTYPE html>
{% include "perpustakaan/navbar.html" %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <br><br>
    <center>
        <h3 class="p-3 mb-2 bg-success text-white" style='font-size: 30px;text-align:center;'>Ubah Data Mahasiswa</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <table class="table table-hover table-condensed table-striped table-bordered">
                    <tr>
                        <td>npm</td>
                        <td><input type="text" name="npm" value="{{editmhs.npm}}"></td>
                        <td align="center">foto </td>
                    </tr>
                    <tr>
                        <td>nama</td>
                        <td><input type="text" name="nama" value="{{editmhs.nama}}"> </td>
                        <td rowspan="6" align="center"><img src="{{editmhs.foto.url}}" alt="connect" style="max-height:300px"></td>
                    </tr>
                    <tr>
                        <td>jurusan</td>
                        <td><input type="text" name="jurusan" value="{{editmhs.jurusan}}"></td>
                    </tr>
                    <tr>
                        <td>No HP</td>
                        <td><input type="text" name="no_hp" value="{{editmhs.no_hp}}"></td>
                    </tr>
                    <tr>
                        <td>No KTP</td>
                        <td><input type="text" name="no_ktp" value="{{editmhs.no_ktp}}"></td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td><input type="text" name="alamat" value="{{editmhs.alamat}}"></td>
                    </tr>
                    <div class="links"></div>
                    <tr>
                        <td>OPSI</td>
                        <td><input type="submit" value="Simpan" onclick="return confirm('apakah anda yakin ingin mengubah')"> </td>
                    </tr>
                    
                        
                    
                </table>
            </div>
        </form>
        {% if messages %}
        <ul class="alert alert-success">
            {% for message in messages %}
            <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} <a href="{%url 'perpustakaan:list_mhs' %}">lihat</a> </li>
            {% endfor %}
        </ul>
        {% endif %}
    </center>

    {% include "perpustakaan/footer.html" %}  
</body>

</html>