<!DOCTYPE html>
{% load static %}


<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perpus Kita</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <style></style>
</head>

<body>
  {% include navbar %}

  <div>
    <div class="ytm">
      <h1 class="p-3 mb-2 bg-success text-white" align="center">
        Selamat Datang {{user}} 
        <br>
         Anda Login Sebagai {{grp}}
      </h1>
    </div>
<div class = "yng"> </div>
 
    {% include "perpustakaan/footer.html" %}
</body>

</html>